<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"        xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"               xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js <% if (config.environment === 'test') { %> ng-app <% } %>" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Gint-Client</title>
    <meta name="description" content="IT support desk platform"/>
    <meta name="viewport" content="width=device-width"/>
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <!--[if lte IE 8]>
        <script src="/js/libs/json2.js"></script>
        <script src="/js/libs/html5shiv-printshiv.js"></script>
    <![endif]-->

    <% if (config.environment === 'prod') { %>
        <link rel="stylesheet" href="/css/styles.min.css?_=v<%= config.uniqueVersion() %>" />
    <% } else { %>
        <link rel="stylesheet" href="/css/styles.css" />
    <% } %>
  </head>
  <body ng-cloak class="auth" ng-controller="mainController">
      <!-- Add your site or application content here -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a ng-cloak class="brand" href="/">Audily Client</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle", data-toggle="dropdown">Menu 1<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/option1">Option 1</a></li>
                    <li><a href="/option2">Option 2</a></li>
                    <li><a href="/option3">Option 3</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/select2">Select 2</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/test">Test</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="container" ng-view></div>
      <!-- endbuild -->
      <% if (config.environment === 'prod') { %>
          <script src="/js/scripts.min.js?_=v<%= config.uniqueVersion() %>"></script>
      <% } else { %>
          <script data-main="/js/main.js" src="/js/libs/require.js"></script>
      <% } %>
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_setDomainName', '']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </body>
</html>
